@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: #e3f2fd;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
/* model button */
.show-model {
  outline: none;
  border: none;
  background: #4a98f7;
  padding: 15px 22px;
  color: white;
  border-radius: 6px;
  font-size: 1.2rem;
  z-index: 1;
}

.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* opacity: 0;
  pointer-events: none; */
}
.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background-color: black;
}
.bottom-sheet .content {
  background: white;
  height: 50vh;
  max-height: 100vh;
  padding: 25px 30px;
  max-width: 1100px;
  border-radius: 12px 12px 0 0;
}
.bottom-sheet .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-sheet .drag-icon {
  cursor: grab;
  user-select: 1;
  padding: 15px;
  margin-top: -15px;
}
.bottom-sheet .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
}
.bottom-sheet .body {
  overflow-y: auto;
  padding: 15px 0 40px;
  height: 100%;
  scrollbar-width: none;
}
.bottom-sheet .body::-webkit-scrollbar {
  width: 0;
}
.bottom-sheet .body h2 {
  font-size: 1.8rem;
}
.bottom-sheet .body p {
  font-size: 1.05rem;
  margin-top: 20px;
}
.hidden {
  display: none;
}
